.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/com/olympicat/scheduleupdates/serverdatarecievers/Constants.*

.idea/misc.xml

.idea/compiler.xml

.idea/compiler.xml

.idea/gradle.xml

.idea/runConfigurations.xml

.idea/vcs.xml
